<div class="task-container blue-line">
    <h2><%= @task.title%></h2>

  <div class="d-flex w-100">
    <img class="image-hero w-50",
    src = <%= "https://source.unsplash.com/random/?#{@task.title}" %>
    />
    <div class="sub-image w-50">
      <img class="image-additional",
        src = <%= "https://source.unsplash.com/random/?1,#{@task.title}" %>
      />
      <img class="image-additional",
        src = <%= "https://source.unsplash.com/random/?2,#{@task.title}" %>
      />
      <div class="text-overlay">
        £<%= @task.location %> | £<%= @task.price %> | <%= @task.user.username %>
      </div>
    </div>
  </div>
  <p>Description: <%= @task.description %></p>
</div>

<%= link_to 'Back to all tasks', root_path %>
<%= button_to 'Create Booking', task_bookings_path(@task) %>
