<% if @task.photo.attached? %>
  <% photo_url = cl_image_path @task.photo.key, height: 100, crop: :fill %>
<% else %>
  <% photo_url = image_path "Worknest-Logo-Clean.png" %>
<% end %>

<div class="task-container blue-line">
    <h2><%= @task.title%></h2>
    <div class="d-flex show-container">
      <div class="d-flex flex-column w-50 h-100">
        <%= render "/tasks/images_carousel", task: @task, class: "h-100" %>
      </div>
      <div class = "d-flex flex-column w-50 h-100">
        <%= button_to 'Create Booking', task_bookings_path(@task) %>
        <div style="width: 100%; height: 600px;"
          data-controller="map"
          data-map-markers-value="<%= @marker.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
        <p><%= @task.description %></p>
</div>

<%= link_to 'Back to all tasks', root_path %>
