<h1>Booking Confirmed!</h1>

<div class="p-4">
  <p>Task: <%= @booking.task.title %></p>
  <p>Created by: <%= @booking.task.user.username %></p>
  <p>To be completed by: <%= @booking.user.username %></p>
  <%= link_to "Delete booking", task_booking_path(@task,@booking), class: "btn btn-warning", data: {turbo_method: :delete, turbo_confirm: "Delete ?"} %>
  <%= link_to "Back to Home", root_path, class: "btn btn-success", data: {turbo_method: :delete, turbo_confirm: "Delete ?"} %>
</div>
