<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <%= image_tag "https://source.unsplash.com/random/?1,#{task.title}", style: "width: 100%; height: 60%" %>
      <div>
        <h2><%= task.title %></h2>
        <p><strong><%=task.user.username%></strong> will pay: <strong>£<%= task.price %></strong></p>
        <p><%= task.description.to_s[0,40] %>...</p>
      </div>
    </div>
    <div class="flip-card-back">
      <h2><%= task.title %></h2>
      <p><%= task.description %></p>
    </div>
  </div>
</div>
