<h1><%=  @task.title %></h1>

<div>
  <% @tasks.each do |task| %>
    <h2>Title: <%= task.title %></h2>
    <p>Location: <%= task.location %></p>
    <p>Description: <%= btask.description %></p>
    <p>Price: <%= task.price %></p>
    <p>User: <%= task.user %></p>
  <% end %>
</div>
